<div class="invitationStyle">
  <div *ngIf="showPlans" class="m-5">
    <h2>Invitations</h2>
    <div *ngIf="invitationData.length > 0; else noData">
      <div *ngFor="let invitation of invitationData" class="m-4">
        <div *ngIf="invitation.status === 'pending'">
          <span class="invitation-info">Plan Name:</span>
          <span class="invitation-value">{{ invitation.planName }}</span>
          <span class="invitation-info">Invitation Status:</span>
          <span class="invitation-value">{{ invitation.status }}</span>

          <button
            (click)="responseInvitation(false, invitation.planId)"
            class="buttonDelete m-3"
          >
            Decline
          </button>
          <button
            (click)="responseInvitation(true, invitation.planId)"
            class="buttonCreate m-3"
          >
            Accept
          </button>
        </div>
      </div>
    </div>

    <ng-template #noData>
      <p>No invitation sadasd.</p>
    </ng-template>
  </div>

  <div>
    <h2>Select Plan To Invite</h2>
    <div *ngIf="strategicPlanData.length > 0; else noData">
      <span *ngIf="showPlans">
        <div *ngFor="let item of strategicPlanData">
          <button class="link-button m-3" (click)="selectPlan(item.id)">
            <strong>Plan:</strong> {{ item.name }}
          </button>
        </div>
      </span>
    </div>
    <ng-template #noData>
      <p>No data available.</p>
    </ng-template>
  </div>

  <div *ngIf="!showPlans">
    <div>
      <h3>Invite User</h3>
      <div class="container">
        <form [formGroup]="invitationForm" (ngSubmit)="sendInvitations()">
          <ng-select
            [items]="usersToInvite"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Select users"
            formControlName="users"
            class="ng-select custom"
          >
          </ng-select>

          <button
            type="submit"
            class="buttonCreate m-3"
            [disabled]="!invitationForm.valid"
          >
            Invite
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
