<div class="invitationStyle">
  <div *ngIf="showPlans" class="m-5">
    <h2>Invitations</h2>
    <div *ngIf="invitationData.length > 0; else noData">
      <div class="table-responsive">
        <!-- Tabla con formato darktable de Bootstrap -->
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Plan Name</th>
              <th>Invitation Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="invitationData.length > 0">
              <ng-container *ngFor="let invitation of invitationData">
                <ng-container *ngIf="invitation.status === 'pending'">
                  <tr>
                    <td>{{ invitation.planName }}</td>
                    <td>{{ invitation.status }}</td>
                    <td>
                      <button
                        (click)="responseInvitation(false, invitation.planId)"
                        class="btn btn-danger m-3"
                      >
                        Decline
                      </button>
                      <button
                        (click)="responseInvitation(true, invitation.planId)"
                        class="btn btn-success"
                      >
                        Accept
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #noData>
      <p>No invitation sadasd.</p>
    </ng-template>
  </div>

  <div>
    <h2>Select Plan To Invite</h2>
    <div *ngIf="strategicPlanData.length > 0; else noData">
      <span *ngIf="showPlans">
        <div *ngFor="let item of strategicPlanData">
          <div id="section0" class="row d-flex justify-content-center">
            <div class="container-card1-preview">
              <div class="card-perzonnalized1" (click)="selectPlan(item.id)">
                <div class="shadowButtomLeft"></div>

                <div class="p-3">
                  <div>
                    <span id="section1NameTitle">Name:</span>
                    <span id="section1NameValue">
                      {{ item.name }}
                    </span>
                  </div>

                  <div>
                    <span id="section1StartDateTitle"> Start Date </span
                    ><span id="section1EndDateTitle"> End Date </span>
                  </div>

                  <div>
                    <span id="section1startDateValue">
                      {{ item.startDate | date : "dd/MM/yyyy" }}
                    </span>
                    <span id="section1EndDateValue">
                      {{ item.endDate | date : "dd/MM/yyyy" }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
    <ng-template #noData>
      <p>No data available.</p>
    </ng-template>
  </div>

  <div *ngIf="!showPlans">
    <div>
      <h3>Invite User</h3>
      <div class="container">
        <form [formGroup]="invitationForm" (ngSubmit)="sendInvitations()">
          <ng-select
            [items]="usersToInvite"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Select users"
            formControlName="users"
            class="ng-select custom"
          >
          </ng-select>

          <button
            type="submit"
            class="buttonCreate m-3"
            [disabled]="!invitationForm.valid"
          >
            Invite
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
