:host {
  display: block;
}
/* Estilos generales para ng-select */
.invitationStyle {
  background-color: var(--basicBackground);
  color: white;
  min-height: calc(100vh - 52px);
  padding: 10px 50px 50px 50px; /* top right bottom left */
  margin: auto;
  align-items: center;
}

.table {
  text-align: center;
}
/* ----------------------------------------------------- */
/* card perzonalizada numero 1 Varation */
/* ----------------------------------------------------- */

.container-card1-preview {
  position: relative;
  width: 450px; /* 100% */
  height: 205px; /* 100% */
  margin: 8%; /* Reducir padding si es necesario */
  z-index: 1;
  padding: 0;
}
.container-card1-preview:hover {
  border-radius: 22px;
  box-shadow: 0 0 10px #fff;
  transition: 0.5s;
  scale: 1.1;
}

/* ------------------------------ */
/* SECTION 1: General Styling */
/* ------------------------------ */
#section1 {
  min-height: 400px;
  background-color: #171717;
}

#section1NameTitle {
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

#section1StartDateTitle {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

#section1EndDateTitle {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

#section1startDateValue {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1rem;
  color: rgb(214, 208, 208);
}

#section1EndDateValue {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1rem;
  color: rgb(214, 208, 208);
}

#section1NameValue {
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.2rem;
  color: white;
}

/* ------------------------------ */
/* Media Query for screens smaller than 992px */
/* ------------------------------ */

@media (max-width: 992px) {
  #section1 {
    scale: 0.95;
  }
}

/* ------------------------------ */
/* Media Query for screens smaller than 576px */
/* ------------------------------ */
@media (max-width: 576px) {
  #section1 {
    scale: 0.9;
  }
}

/* ----------------------------------------------------- *
/* Para el select de invitar */
/* ----------------------------------------------------- *

/* Estilo principal para el ng-select */
.ng-select {
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  color: white; /* Color de texto blanco */
  border-radius: 25px;
  padding: 10px 15px;
  border: 1px solid #9900ff;
}

/* Estilo para el contenedor del ng-select */
.ng-select.custom ::ng-deep .ng-select-container {
  min-height: 0px;
  border-radius: 25px;
}

/* Estilo para el input dentro del ng-select */
.ng-select.custom ::ng-deep .ng-input > input {
  color: white; /* Texto blanco cuando escribes en el select */
}

/* Estilo para los items del ng-select */
.ng-select.custom ::ng-deep .ng-option {
  background-color: var(--basicBackground);
  width: 100%;
  max-width: 500px;
  padding: 10px 15px;
  border: 1px solid #9900ff;
  border-radius: 10px;
}

/* Estilo para el item seleccionado en ng-select */
.ng-select.custom ::ng-deep .ng-option-selected {
  background-color: #9900ff; /* Fondo morado para el item seleccionado */
  color: white; /* Texto blanco para el item seleccionado */
}

/* Estilo para limitar la altura de la lista desplegable */
.ng-select.custom ::ng-deep .ng-dropdown-panel {
  max-height: 300px; /* Altura máxima de 300px */
  overflow-y: auto; /* Habilita el scroll si la lista es más larga que 300px */
}
