<div class="LoginStyle">
  <!-- --------------- Para registrarse --------------- -->
  <div *ngIf="regiterActive" class="form1-card">
    <form [formGroup]="registerForm" (ngSubmit)="sendData()" class="form1">
      <h1>Register</h1>
      <div class="form1-group">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="Name"
        />
        <div
          *ngIf="
            registerForm?.get('name')?.invalid &&
            registerForm?.get('name')?.touched
          "
          class="error"
        >
          <p *ngIf="registerForm?.get('name')?.errors?.['required']">
            Name is required
          </p>
        </div>
      </div>
      <div class="form1-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Email"
        />
        <div
          *ngIf="
            registerForm?.get('email')?.invalid &&
            registerForm?.get('email')?.touched
          "
          class="error"
        >
          <p *ngIf="registerForm?.get('email')?.errors?.['required']">
            Email is required
          </p>
          <p *ngIf="registerForm?.get('email')?.errors?.['email']">
            Email is invalid
          </p>
        </div>
      </div>
      <div class="form1-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <div
          *ngIf="
            registerForm?.get('password')?.invalid &&
            registerForm?.get('password')?.touched
          "
          class="error"
        >
          <p *ngIf="registerForm?.get('password')?.errors?.['required']">
            Password is required
          </p>
          <p *ngIf="registerForm?.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters
          </p>
          <p *ngIf="registerForm?.get('password')?.errors?.['pattern']">
            Password must contain at least one uppercase letter, one number, and
            one symbol
          </p>
        </div>
      </div>

      <div class="form1-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          required
        />
        <div
          *ngIf="
            registerForm.hasError('passwordsMismatch') &&
            registerForm.get('confirmPassword')?.touched
          "
          class="error"
        >
          <p>Passwords don't match</p>
        </div>
      </div>

      <div>
        <button class="buttonCreate">Register</button>
      </div>
      <br />
      <p>
        Do you already have an account?
        <a class="a-link" (click)="changeForm()">Login</a>
      </p>
    </form>
  </div>

  <!-- --------------- Para logearse --------------- -->
  <div *ngIf="!regiterActive" class="form1-card">
    <form [formGroup]="loginForm" (ngSubmit)="sendData()" class="form1">
      <h1>Login</h1>
      <div class="form1-group">
        <label for="usernameOrEmail">Username or Email</label>
        <input
          id="usernameOrEmail"
          type="text"
          formControlName="usernameOrEmail"
          placeholder="Username or Email"
        />
        <div
          *ngIf="
            loginForm?.get('usernameOrEmail')?.invalid &&
            loginForm?.get('usernameOrEmail')?.touched
          "
          class="error"
        >
          <p *ngIf="loginForm?.get('usernameOrEmail')?.errors?.['required']">
            Username or Email is required
          </p>
        </div>
      </div>
      <div class="form1-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <div
          *ngIf="
            loginForm?.get('password')?.invalid &&
            loginForm?.get('password')?.touched
          "
          class="error"
        >
          <p *ngIf="loginForm?.get('password')?.errors?.['required']">
            Password is required
          </p>
        </div>
        <div style="margin-bottom: 15px">
          <a id="a-link-reset" class="a-link" (click)="toggleResetPassword()"
            >Forgot password?</a
          >
        </div>
      </div>
      <div>
        <button class="buttonCreate">Login</button>
      </div>
      <br />
      <p>
        Are you not registered yet?
        <a (click)="changeForm()" class="a-link">Register</a>
      </p>
    </form>
  </div>
</div>
