<div class="foda-meca-style">
  <div class="container-fluid">
    <form [formGroup]="fodaMecaForm" (ngSubmit)="updateFodaMecaForPlan()">
      <!-- Contenedor FODA -->
      <div class="Foda-container">
        <h3>FODA</h3>
        <div class="row-personalized row">
          <div class="gradient col-12 col-md-6">
            <label for="strengthsText">Fortalezas:</label>
            <textarea id="strengthsText" formControlName="strengths"></textarea>
          </div>
          <div class="col-12 col-md-6">
            <label for="weaknessesText">Debilidades:</label>
            <textarea
              id="weaknessesText"
              formControlName="weaknesses"
            ></textarea>
          </div>
        </div>
        <div class="row-personalized row">
          <div class="col-12 col-md-6">
            <label for="opportunitiesText">Oportunidades:</label>
            <textarea
              id="opportunitiesText"
              formControlName="opportunities"
            ></textarea>
          </div>
          <div class="gradient col-12 col-md-6">
            <label for="threatsText">Amenazas:</label>
            <textarea id="threatsText" formControlName="threats"></textarea>
          </div>
        </div>
      </div>

      <div class="Meca-container">
        <h3>MECA</h3>
        <!-- Contenedor MECA -->
        <div class="row-personalized row">
          <div class="gradient col-12 col-md-6">
            <label for="improvementsText">Correcciones:</label>
            <textarea
              id="improvementsText"
              formControlName="correct"
            ></textarea>
          </div>
          <div class="col-12 col-md-6">
            <label for="strategiesText">Adaptar:</label>
            <textarea id="strategiesText" formControlName="adapt"></textarea>
          </div>
        </div>
        <div class="row-personalized row">
          <div class="col-12 col-md-6">
            <label for="correctionsText">Mantener:</label>
            <textarea
              id="correctionsText"
              formControlName="maintain"
            ></textarea>
          </div>
          <div class="gradient col-12 col-md-6">
            <label for="mecaThreatsText">Explorar:</label>
            <textarea id="mecaThreatsText" formControlName="explore"></textarea>
          </div>
        </div>
      </div>

      <button type="submit">Save</button>
      <button type="button" (click)="goBack()">Go Back</button>
      <!-- Botón para volver -->
    </form>
  </div>
</div>
