:host {
  display: block;
}

.foda-meca-style {
  background-color: var(--basicBackground);
  color: white;
  min-height: calc(100vh - 52px);
  padding: 10px 0px 50px 0px; /* top right bottom left */
  margin: auto;
  text-align: center;
}

.foda-meca-style textarea {
  background-color: transparent;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 25px;
  overflow: auto; /* Asegura que el scrollbar aparezca */
  min-height: 190px;
  border: none;
}

.foda-meca-style textarea::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
  border-radius: 25px;
  background-color: var(--color2);
}

.foda-meca-style textarea::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* Color del scroll */
  border-radius: 25px;
}
.foda-meca-style textarea::-webkit-scrollbar-track {
  height: 80px;
}

.Foda-container {
  min-height: 500px;
  padding: 20px 0;
}
.Meca-container {
  min-height: 500px;
  padding: 20px 0;
}

.row-personalized {
  min-height: 250px;
}

.gradient {
  background: linear-gradient(190deg, var(--color2), var(--color3));
}

h2 {
  border: 1px solid var(--color2);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  width: 150px;
  margin: 20px 0;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

span {
  font-size: 1.5rem;
}

h3 {
  padding: 25px 20px;
}

label {
  padding: 25px 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
