:host {
  display: block;
}

.buttonAdd {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.card {
  border-color: #232323;
  border-radius: 3mm;
  color: white;
  padding: 1px;
}

.card h6 {
  border-bottom: 2px solid var(--text_color);
  color: var(--text_color);
  font-size: 1.5em;
  padding-bottom: 5px;
}

.FodaStyle {
  background-color: var(--gray_middle_dark);
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  max-width: 1200px;
  min-height: calc(100vh - 52px);
  padding: 20px;
}

.h6 {
  color: #969696;
  margin-top: 10px;
}

.opportunities-column {
  background-color: rgba(0, 21, 255, 0.101);
  border-left: 5px solid #9900ff;
}

.opportunities-column .card {
  background-color: var(--color2_purple);
  color: #ffffff;
}

.wrapper {
  background-color: var(--gray_high_dark);
  margin-top: 52px;
  min-height: 100vh;
  padding: 0 20px;
}

.weaknesses-column {
  background-color: rgba(255, 0, 0, 0.1);
  border-left: 5px solid #ff0000;
}

.weaknesses-column .card {
  background-color: #7f2b2b;
  color: #ffffff;
}

.strengths-column {
  background-color: rgba(55, 0, 255, 0.1);
  border-left: 5px solid var(--color1_blue);
}

.strengths-column .card {
  background-color: #2b2b6f;
  color: #ffffff;
}

.threats-column {
  background-color: rgba(255, 0, 255, 0.1);
  border-left: 5px solid var(--color3_pink);
}

.threats-column .card {
  background-color: #7f2b7f;
  color: #ffffff;
}

#maintainBtn, #opportunityBtn {
  background-color: var(--color3_pink);
}

#maintainBtn:hover, #opportunityBtn:hover {
  background-color: #da13e0;
}
