<mat-nav-list>
  <mat-list-item (click)="navigateToStrategicPlan()">
    <mat-icon matListItemIcon>arrow_right_alt</mat-icon>
    <span class="text-sidenav">Strategisc Plan</span>
  </mat-list-item>

  <mat-list-item (click)="navigateToObjective()">
    <mat-icon matListItemIcon>assignment</mat-icon>
    <span class="text-sidenav">Objective</span>
  </mat-list-item>

  <mat-list-item (click)="navigateToGoals()">
    <mat-icon matListItemIcon>book</mat-icon>
    <span class="text-sidenav">Goals</span>
  </mat-list-item>
  <mat-list-item (click)="navigateToProfile()">
    <mat-icon matListItemIcon>account_circle</mat-icon>
    <span class="text-sidenav">Profile</span>
  </mat-list-item>  
  <mat-list-item (click)="navigateToNotFound()">
    <mat-icon matListItemIcon>brush</mat-icon>
    <span class="text-sidenav">Not Found</span>
  </mat-list-item>
</mat-nav-list>
