<mat-nav-list>
  <mat-list-item (click)="navigateToStrategicPlan()">
    <mat-icon matListItemIcon>arrow_right_alt</mat-icon>
    <span class="text-sidenav">Strategisc Plan</span>
  </mat-list-item>

  <mat-list-item (click)="navigateToObjective()">
    <mat-icon matListItemIcon>assignment</mat-icon>
    <span class="text-sidenav">Objective</span>
  </mat-list-item>

  <mat-list-item (click)="navigateToNotFound()">
    <mat-icon matListItemIcon>brush</mat-icon>
    <span class="text-sidenav">NotFound</span>
  </mat-list-item>
</mat-nav-list>
