<div class="ResetPasswordStyle">
  <div *ngIf="tokenValid" class="form1-card">
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
      class="form1"
    >
      <h1>Reset Password</h1>
      <div class="form1-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          required
        />
        <div
          *ngIf="
            resetPasswordForm.get('newPassword')?.invalid &&
            resetPasswordForm.get('newPassword')?.touched
          "
          class="error"
        >
          <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
            New password is required
          </p>
          <p
            *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']"
          >
            Password must be at least 6 characters
          </p>
          <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">
            Password must contain at least one uppercase letter, one number, and
            one symbol
          </p>
        </div>
      </div>

      <div class="form1-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          required
        />
        <div
          *ngIf="
            resetPasswordForm.hasError('passwordsMismatch') &&
            resetPasswordForm.get('confirmPassword')?.touched
          "
          class="error"
        >
          <p>Passwords do not match</p>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="buttonCreate"
          [disabled]="resetPasswordForm.invalid"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
