:host {
  display: block;
}

.activityStyle {
  padding: 0px 0px 50px 0px; /* top right bottom left */
  color: var(--text_color);
  margin-top: 52px;
}

.activityStyle h2 {
  margin: 0;
  font-size: 1.9em;
}

#completed-label {
  margin: 0 10px 0 0;
  bottom: 5px;
  position: relative;
}

.activityStyle h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.activityStyle label {
  margin: 0;
}

#formIndicator {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 30px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Ajusta el margen superior si es necesario */
}

#buttomIndicator {
  background-color: var(--color2_purple);
}

#buttomIndicator:hover {
  background-color: var(--color2_purple_hover);
}

#btn-edit {
  margin: 15px 15px 0 0;
}

.activityStyle checkbox {
  width: 20px;
}

#formCheckbox {
  display: flex; /* Permite que los elementos se alineen en fila */
  align-items: center; /* Alinea verticalmente en el centro */
  margin-top: 20px; /* Ajusta el margen superior si es necesario */
  margin-bottom: 20px;
  flex-direction: row;
}

#completedLabel {
  margin: 20px 0 30px 0;
  color: green;
  font-size: 1.1em;
  border: 1px solid green;
  border-radius: 30px;
  padding: 10px;
}


