:host {
  display: block;
}

.activityStyle {
  color: var(--text_color);
  margin-top: 52px;
  padding: 0px 0px 50px 0px;
}

.activityStyle h2 {
  font-size: 1.9em;
  margin: 0;
}

.activityStyle h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.activityStyle label {
  margin: 0;
}

.activityStyle checkbox {
  width: 20px;
}

#btn-edit {
  margin: 15px 15px 0 0;
}

#buttomIndicator {
  background-color: var(--color2_purple);
}

#buttomIndicator:hover {
  background-color: var(--color2_purple_hover);
}

#completed-label {
  bottom: 5px;
  margin: 0 10px 0 0;
  position: relative;
}

#completedLabel {
  border: 1px solid green;
  border-radius: 30px;
  color: green;
  font-size: 1.1em;
  margin: 20px 0 30px 0;
  padding: 10px;
}

#formCheckbox {
  align-items: center; 
  display: flex; 
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px; 
}

#formIndicator {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
