:host {
  display: block;
}

.ObjectiveStyle {
  padding: 0px 0px 50px 0px; /* top right bottom left */
  color: var(--text_color);
  margin-top: 52px;
}

.container {
  min-height: 100vh; /* Al menos la altura total de la ventana */
  height: auto; /* Permite que crezca en altura */
  overflow: visible;
}

.objectiveMenu {
  display: flex;
  justify-content: center; /* Centrar planTitle horizontalmente */
  align-items: center; /* Alinear verticalmente */
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
  background: linear-gradient(
    to bottom right,
    var(--color2_purple) 0%,
    var(--color1_blue) 65%,
    var(--color1_blue) 100%
  );
}
.objectiveMenu p {
  margin: 0;
  padding: 0;
  color: white;
}

#planTitle, #selectPlan {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  flex: 15;
}

#planTitle {
  padding-right: 62px;
}

#selectPlan {
  margin-right: 560px;
}

.buttonAdd {
  border: 2px solid var(--color2_purple);
}

/* ----------------------------------------------------- */
/* editing*/
/* ----------------------------------------------------- */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; Permitir clics a través del fondo */
  z-index: 1000; /*No Permitir clics a través del fondo */
}

.modal-content {
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 500px;
  pointer-events: auto;
}

/* ----------------------------------------------------- */
/* butones  */
/* ----------------------------------------------------- */
.btnCancel {
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  color: white;
  background-color: var(--color2_purple);
}

.btnCancel:hover {
  background-color: black;
  color: white;
}
/* ----------------------------------------------------- */
/* card perzonalizada para objetivos */
/* ----------------------------------------------------- */

/* Contenedor que organiza las tarjetas en fila */
.card-container {
  display: flex; /* Organiza los elementos hijos en una fila */
  background-color: var(--gray_middle_dark);
  flex-wrap: wrap; /* Permite que los elementos salten a la siguiente línea si no caben en una fila */
  gap: 25px; /* Espacio entre las tarjetas */
}

/* Estilo para cada tarjeta */
.card-Objective-container {
  margin: 5px; /* Espacio entre las tarjetas */
  flex-basis: calc(50% - 25px); /* Ajuste para que ocupen la mitad del ancho menos el espacio del gap */
  max-width: calc(50% - 25px); /* Limita el ancho máximo para evitar desbordes */
  height: auto; /* Deja que la altura se ajuste automáticamente */
  background-image: linear-gradient(
    163deg,
    var(--color3_pink) 0%,
    var(--color1_blue) 100%
  );
  border-radius: 20px;
  display: flex;
}

.card-Objective-container:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* Estilo para el contenido dentro de la tarjeta */
.card-Objective {
  width: 100%; /* Asegúrate de que ocupe todo el ancho del contenedor padre */
  height: auto; /* Ajusta la altura según el contenido */
  padding: 1em 2em 1em 2em;
  background-color: var(--gray_middle_dark);
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 1.2em;
  padding: 10px;
  border-bottom: 1px solid var(--color2_purple);
  font-weight: bold;
}

.title:hover {
  cursor: pointer;
  color: var(--text_color);
}

.value-container {
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 3px;
}

.value {
  margin-top: 15px;
  font-size: 1em;
  height: 85px;
  border: 1px solid var(--color1_blue);
  border-radius: 10px;
  padding: 10px 15px;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita a 3 líneas */
  line-clamp: 3; /* Limita a 3 líneas */
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis; /* Muestra puntos suspensivos */
  word-break: break-word; /* Evita que palabras largas se desborden */
}

.startDate {
  font-size: 0.8rem;
}

.remainingGoals {
  font-size: 0.8rem;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--color3_pink);
}

.totalGoals {
  font-size: 0.8rem;
}

#opportunityBtn,
#maintainBtn {
  background-color: var(--color3_pink);
}

#opportunityBtn:hover,
#maintainBtn:hover {
  background-color: #da13e0;
}


.info-objective {
  position: absolute;
  left: 12%;
}

#p-description {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 1em;
  height: auto;
  border-radius: 10px;
  padding: 7px 15px;

  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: visible;
  word-break: break-word; /* Evita que palabras largas se desborden */
}

#see-title {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 5px 15px 15px 15px;
  padding: 1px 0px 5px 0px;
  border-bottom: 1px solid var(--color2_purple);
  font-weight: bold;
}

#container-see {
  padding: 10px;
  width: auto;
}

#form1-see {
  padding: 0 1em 1em 1em;
}

#see-goals {
  margin: 0px 15px 15px 15px;
  font-size: 1em;
  padding: 0px 10px 0.5px 10px;
  height: 40px;
  width: 45%;
  align-self: center;
  border-bottom: 1px solid var(--color1_blue);
}

#see-goals:hover {
  cursor: pointer;
  color: var(--text_color);
}

