<div class="ObjectiveStyle">
  <div class="objectiveMenu">
    <button class="buttonAdd m-3" (click)="onClickAddObjective()">Add</button>
    <p>PlanId: {{ currentPlanId }}</p>
  </div>
  <div class="container">
    <div *ngIf="objectivesData.length > 0">
      <div class="card-container">
        <div
          *ngFor="let item of objectivesData"
          class="card-Objective-container"
        >
          <div class="card-Objective" (click)="onClickObjective(item)">
            <div class="content-wrapper">
              <span class="title">Description:</span>
              <div class="value-container">
                <span class="value">{{ item.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showModal" class="modal-background">
      <div class="modal-content">
        <div class="form1-card">
          <form
            [formGroup]="formObjectivesPlan"
            (submit)="isEditing ? updateObjective() : createObjective()"
            class="form1"
          >
            <div>
              <h2>Objective</h2>

              <div>
                <textarea
                  placeholder="description"
                  type="text"
                  id="description"
                  formControlName="description"
                ></textarea>
                <div
                  *ngIf="
                    formObjectivesPlan.get('description')?.invalid &&
                    (formObjectivesPlan.get('description')?.dirty ||
                      formObjectivesPlan.get('description')?.touched)
                  "
                  class="error"
                >
                  <p
                    *ngIf="
                        formObjectivesPlan.get('description')?.errors?.['required']
                      "
                  >
                    Description is required.
                  </p>
                </div>
              </div>

              <div class="badInfo" *ngIf="!formObjectivesPlan.valid">
                <p>Not ready to send</p>
              </div>

              <!-- Cambia el texto y método del botón según el modo -->
              <div>
                <button type="submit" class="buttonCreate m-3">
                  {{ isEditing ? "Update" : "Create" }}
                </button>
                <button
                  type="button"
                  class="btnCancel m-3"
                  (click)="toogleShowModal()"
                >
                  Cancel
                </button>
              </div>
              <div>
                <button
                  type="button"
                  class="buttonDelete m-3"
                  (click)="deleteObjective()"
                >
                  Borrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
