<div class="StrategicPlanStyle">
  <!-- se muestran los planes estrategicos del usuario activo si no esta en modo edicion ni visible el formulario -->
  <div *ngIf="!isFormVisible">
    <button
      (click)="onClickCreateNewPlan()"
      class="buttonAdd m-3"
      *ngIf="!isFinishedPlansView"
    >
      Plan
    </button>
    <button
      (click)="isFinishedPlansView ? showActivePlans() : showFinishedPlans()"
      [ngClass]="{
        'buttonBack m-4': isFinishedPlansView,
        'buttonHistory m-3': !isFinishedPlansView
      }"
    >
      {{ isFinishedPlansView ? "Back to Plans" : "History" }}
    </button>

    <div *ngIf="strategicPlanData.length > 0; else noData">
      <div *ngFor="let item of strategicPlanData" class="container">
        <div id="section1" class="row d-flex justify-content-center">
          <div class="container-card1-preview">
            <div class="card-perzonnalized1" (click)="onClickPlan(item)">
              <div class="shadowButtomLeft"></div>

              <div class="p-3">
                <div>
                  <span id="section1NameTitle">Name:</span>
                  <span id="section1NameValue">
                    {{ item.name }}
                  </span>
                </div>

                <div>
                  <span id="section1StartDateTitle"> Start Date </span
                  ><span id="section1EndDateTitle"> End Date </span>
                </div>

                <div>
                  <span id="section1startDateValue">
                    {{ item.startDate | date : "dd/MM/yyyy" }}
                  </span>
                  <span id="section1EndDateValue">
                    {{ item.endDate | date : "dd/MM/yyyy" }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p>No data available.</p>
    </ng-template>
  </div>

  <!-- Para cuando esta en modo edicion o creando un plan -->
  <div *ngIf="isFormVisible">
    <button (click)="resetForm()" class="buttonBack m-3">Back to plans</button>

    <!-- Formulario esta visible porque se esta creando un plan o se edita uno -->
    <div *ngIf="isFormVisible" class="form1-card">
      <form [formGroup]="formStrategicPlan" (submit)="sendData()" class="form1">
        <div>
          <h2>Strategic Plan Form</h2>
          <div>
            <input
              placeholder="Name"
              type="text"
              id="name"
              formControlName="name"
            />
            <div
              *ngIf="
                formStrategicPlan.get('name')?.invalid &&
                (formStrategicPlan.get('name')?.dirty ||
                  formStrategicPlan.get('name')?.touched)
              "
              class="error"
            >
              <p *ngIf="formStrategicPlan.get('name')?.errors?.['required']">
                Name is required.
              </p>
            </div>
          </div>

          <div>
            <textarea
              placeholder="mission"
              type="text"
              id="mission"
              formControlName="mission"
            ></textarea>
          </div>

          <div>
            <textarea
              placeholder="vision"
              type="text"
              id="vision"
              formControlName="vision"
            ></textarea>
          </div>

          <div>
            <textarea
              placeholder="values"
              type="text"
              id="values"
              formControlName="values"
            ></textarea>
          </div>

          <div>
            <div>
              <label for="endDate"> End Date: </label>
            </div>
            <input
              placeholder="endDate"
              type="date"
              [min]="minEndDate"
              id="endDate"
              formControlName="endDate"
            />
            <div
              *ngIf="
                formStrategicPlan.get('endDate')?.invalid &&
                (formStrategicPlan.get('endDate')?.dirty ||
                  formStrategicPlan.get('endDate')?.touched)
              "
              class="error"
            >
              <p *ngIf="formStrategicPlan.get('endDate')?.errors?.['required']">
                endDate is required.
              </p>
            </div>
          </div>

          <div class="badInfo" *ngIf="!formStrategicPlan.valid">
            <p>Not ready to send</p>
          </div>
          <button type="submit" class="buttonCreate m-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
