:host {
  display: block;
}

.StrategicPlanStyle {
  background-color: var(--basicBackground);
  color: white;
  min-height: calc(100vh - 52px);
  padding: 10px 0px 50px 0px; /* top right bottom left */
  margin: auto;
}
.StrategicPlanStyle h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ----------------------------------------------------- */
/* card perzonalizada numero 1 Varation */
/* ----------------------------------------------------- */

.container-card1-view {
  position: relative;
  width: 450px; /* 100% */
  height: 205px; /* 100% */
  margin: 8%; /* Reducir padding si es necesario */
  z-index: 1;
}
.container-card1-preview {
  position: relative;
  width: 450px; /* 100% */
  height: 205px; /* 100% */
  margin: 8%; /* Reducir padding si es necesario */
  z-index: 1;
  padding: 0;
}
.container-card1-preview:hover {
  border-radius: 22px;
  box-shadow: 0 0 10px #fff;
  transition: 0.5s;
  scale: 1.1;
}

#containerStrateciPlan {
  overflow-wrap: break-word;
  word-break: break-all; /* Forzará el corte de palabras largas */
  white-space: normal; /* Asegura que el texto se ajuste en varias líneas */
}
/* ------------------------------ */
/* SECTION 1: General Styling */
/* ------------------------------ */
#section0 {
  min-height: 400px;
  background-color: #171717;
}

#section1 {
  min-height: 500px;
  background-color: #171717;
}

#section1NameTitle {
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

#section1StartDateTitle {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

#section1EndDateTitle {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

#section1startDateValue {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1rem;
  color: rgb(214, 208, 208);
}

#section1EndDateValue {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1rem;
  color: rgb(214, 208, 208);
}

#section1NameValue {
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.2rem;
  color: white;
}

/* ------------------------------ */
/* SECTION 2: Background and Title */
/* ------------------------------ */

#section2 {
  min-height: 600px;
  background-color: #111010;
}

#section2Title {
  border: 1px solid var(--color2);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}

#section2Value {
  padding: 0 10%;
}

/* ------------------------------ */
/* SECTION 3: Gradient Background and Title */
/* ------------------------------ */

#section3 {
  min-height: 600px;
  background: linear-gradient(190deg, var(--color2), var(--color3));
}

#section3Title {
  border: 2px solid var(--color4);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}

#section3Value {
  padding: 0 10%;
}

/* ------------------------------ */
/* SECTION 4: Background and Title */
/* ------------------------------ */

#section4 {
  min-height: 600px;
  background-color: #111010;
}

#section4Title {
  border: 1px solid var(--color2);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}

#section4Value {
  padding: 0 10%;
}

/* ------------------------------ */
/* Media Query for screens smaller than 992px */
/* ------------------------------ */

@media (max-width: 992px) {
  #section1,
  #section0 {
    scale: 0.8;
  }
}

/* ------------------------------ */
/* Media Query for screens smaller than 576px */
/* ------------------------------ */
@media (max-width: 576px) {
  #section1,
  #section0 {
    scale: 0.9;
  }
}
