:host {
  display: block;
}

.StrategicPlanStyle {
  padding: 10px 0px 50px 0px; /* top right bottom left */
  color: var(--text_color);
  margin-top: 52px;
}
/* ----------------------------------------------------- */
/* card perzonalizada numero 1 Varation */
/* ----------------------------------------------------- */

.container-card1-view {
  position: relative;
  width: 450px; /* 100% */
  height: 205px; /* 100% */
  margin: 8%; /* Reducir padding si es necesario */
  z-index: 1;
}
.container-card1-preview {
  position: relative;
  width: 450px; /* 100% */
  height: 205px; /* 100% */
  margin: 8%; /* Reducir padding si es necesario */
  z-index: 1;
  padding: 0;
}
.container-card1-preview:hover {
  border-radius: 22px;
  box-shadow: 0 0 10px #fff;
  transition: 0.5s;
  scale: 1.1;
}

#containerStrateciPlan {
  overflow-wrap: break-word;
  word-break: break-all; /* Forzará el corte de palabras largas */
  white-space: normal; /* Asegura que el texto se ajuste en varias líneas */
}
/* ------------------------------ */
/* SECTION 1: General Styling */
/* ------------------------------ */
#section1 {
  min-height: 400px;
}

#section1NameTitle {
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(214, 208, 208);
}

#section1StartDateTitle {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text_color);
}

#section1EndDateTitle {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text_color);
}

#section1startDateValue {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1rem;
  color: var(--text_color);
}

#section1EndDateValue {
  width: 50%;
  padding: 10px;
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1rem;
  color: var(--text_color);
}

#section1NameValue {
  display: inline-block; /* Asegura que se alineen en la misma línea */
  font-size: 1.2rem;
  color: var(--text_color);
}

/* ------------------------------ */
/* SECTION 2: Background and Title */
/* ------------------------------ */

#section2 {
  min-height: 400px;
  background-color: var(--gray_high_dark);
}

#section2Title {
  border: 1px solid var(--color1_blue);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 6%;
}

.a {
  color: white;
  align-self: center;
}

.a:hover {
  color: var(--color1_blue);
  cursor: pointer;
}

#section2Value {
  padding: 0 10%;
}

/* ------------------------------ */
/* SECTION 3: Gradient Background and Title */
/* ------------------------------ */

#section3 {
  min-height: 400px;
  background: linear-gradient(190deg, var(--color1_blue), var(--color2_purple));
}

#section3Title, #objectiveTitle {
  border: 2px solid var(--color3_pink);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
  display: inline-block;
}

#objectiveTitle {
  display: inline-block;
  transition: transform 0.3s ease;
  word-break: keep-all;
}

#objectiveTitle:hover {
  display: inline-block;
  color: rgb(187, 178, 178);
  cursor: pointer;
  border: 2px solid #c401c4;
  transform: scale(1.1); 
}

#objectiveList {
  display: inline-block;
  transition: transform 0.3s ease;
  word-wrap: break-word; 
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}

#objectiveList:hover {
  display: inline-block;
  color: rgb(187, 178, 178);
  cursor: pointer;
  transform: scale(1.1);
}

#section3Value, #objectiveValue {
  padding: 0 9%;
}

#objectives {
  min-height: 350px;
  max-width: 1;
  background: linear-gradient(190deg, var(--color1_blue), var(--color2_purple));
}

/* ------------------------------ */
/* SECTION 4: Background and Title */
/* ------------------------------ */

#section4 {
  min-height: 400px;
  background-color: #111010;
}

#section4Title {
  border: 1px solid var(--color1_blue);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}

#section4Value {
  padding: 0 10%;
}

/* ------------------------------ */
/* Media Query for screens smaller than 992px */
/* ------------------------------ */

@media (max-width: 992px) {
  #section1 {
    scale: 0.8;
  }
}

/* ------------------------------ */
/* Media Query for screens smaller than 576px */
/* ------------------------------ */
@media (max-width: 576px) {
  #section1 {
    scale: 0.6;
  }
}

/* ------------------------------ */
/* Para los members*/
/* ------------------------------ */
.members {
  min-height: 400px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en una columna */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
  list-style: none; /* Elimina los marcadores de la lista */
}

.members li {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#memberTitle {
  border: 1px solid var(--color3_pink);
  border-radius: 22px;
  padding: 25px 20px;
  font-size: 2rem;
  font-weight: bold;
  margin: 25px 0;
  transition: transform 0.3s ease;
}

#memberTitle:hover {
  color: rgb(187, 178, 178);
  cursor: pointer;
  border: 2px solid #b301b3;
  transform: scale(1.05);
}

#sectionButtons {
  align-items: center;
  margin: 20px 0;
  padding: 0 10%;
}
