<div class="goalsStyle">
  <div class="goalsMenu">

      <div *ngIf="currentPlanId" class="selectGroup" id="selectObjective">
        <label for="objectiveSelect">Select an Objective:</label>
        <select
          [(ngModel)]="objectiveIdSelected"
          id="objectiveSelect"
          (change)="onObjectiveChange()"
        >
          <!-- Agregar esta opción por defecto -->
          <option
            *ngFor="let objective of objectiveData"
            [value]="objective._id"
          >
            {{ objective.title }}
          </option>
        </select>
    </div>
    <button
      *ngIf="!currentOperationalId"
      id = "buttonCreate"
      class="buttonCreate m-3"
      (click)="navigateToSelectPlan()"
    >
      Select a StategicPlan
    </button>
    <div class="form1-group" style="margin-right: 70px">
      <label
        style="margin-right: 80px; color: white; font-size: 1.5em"
        for="objectiveTitle"
        >{{currentPlanId? "Goals for Objective:": "First Select a Strategic Plan" }}</label
      >
      <p id="objectiveTitle">{{ currentObjective.title }}</p>
    </div>

    <button
      *ngIf="currentOperationalId"
      class="buttonAdd m-3"
      (click)="onClickAddGoal()"
    >
      Add a Goal
    </button>
    <button
      *ngIf="!currentOperationalId"
      class="buttonCreate m-3"
      (click)="navigateToOperationalPlan()"
    >
      New Operational Plan
    </button>
  </div>
  <div class="middleMenu">
    <button
      id="buttonBack"
      (click)="navigateToObjectives()"
      class="buttonBack m-3"
    >
      Back to Objectives
    </button>
    <div
      *ngIf="operationalPlansData.length >= 1"
      id="selectGroup"
      class="selectGroup"
    >
      <label style="margin-left: 18px" for="operationalPlanSelect"
        >Select an Operational Plan</label
      >
      <select
        id="operationalPlanSelect"
        [ngModel]="currentOperationalId"
        (ngModelChange)="onOperationalPlanChange($event)"
      >
        <option *ngFor="let plan of operationalPlansData" [value]="plan._id">
          {{ plan.active ? "(Active)" : "" }} {{ plan.title }}
        </option>
      </select>
      <label
        *ngIf="activeOperationalPlan._id !== currentOperationalId"
        id="advertisement"
        >You need to select the active Operational Plan to add activities</label
      >
    </div>
  </div>

  <div id="noOPlan" *ngIf="objectiveIdSelected && !activeOperationalPlan">
    <h6>You need to create a new Operational Plan to continue</h6>
  </div>
  <div class="my-custom-container">
    <div *ngIf="goalsData.length > 0">
      <div class="card-container">
        <div *ngFor="let goal of goalsData" class="card-Objective-container">
          <div class="card-Objective">
            <div class="content-wrapper">
              <h6 class="goal-h6">Description:</h6>
              <div class="value-container">
                <span class="value">{{ goal.description }}</span>
              </div>
            </div>
          </div>
          <div *ngIf="currentOperationalId" class="right-section">
            <div id="btn-container" class="btn-container">
              <h6 id="progressTitle">Progress</h6>
              <button
                *ngIf="activeOperationalPlan._id === currentOperationalId"
                class="btn-add"
                style="position: absolute; margin-right: 73px"
                title="Add Activity"
                (click)="navigateToAddActivity(goal._id)"
              ></button>
              <button
                id="btn-edit"
                class="btn-edit"
                style="position: absolute; margin-right: 35px"
                title="Edit"
                (click)="editGoal(goal)"
              ></button>
              <button
                id="btn-delete"
                class="btn-delete"
                style="margin-left: 100px"
                title="Delete"
                (click)="deleteGoal(goal._id, currentObjective._id)"
              ></button>
            </div>

            <div
              *ngFor="let activity of goal.Activity_ListIDS"
              style="width: 100%"
            >
              <label
                *ngIf="activity.currentIndicatorId"
                (click)="
                  navigateToViewActivity(
                    activity._id,
                    activity.currentIndicatorId._id
                  )
                "
                id="activityTitle"
                for="progress"
              >
                {{ activity.title }}:
              </label>
              <div
                *ngIf="activity.currentIndicatorId"
                class="progress-container"
              >
                <span class="progress-current">{{
                  activity.currentIndicatorId.actual
                }}</span>
                <!-- Progreso actual -->
                <progress
                  [value]="
                    activity.currentIndicatorId.total > 0
                      ? (activity.currentIndicatorId.actual /
                          activity.currentIndicatorId.total) *
                        100
                      : 0
                  "
                  max="100"
                ></progress>
                <span class="progress-goal">{{
                  activity.currentIndicatorId.total
                }}</span>
                <!-- Progreso meta -->
              </div>
            </div>

            <!-- Barra de progreso general -->
            <label id="generalLabel" for="progress">General Progress:</label>
            <div class="progress-container">
              <span class="progress-current">
                {{ calculateGeneralProgress(goalsData).actual }}
              </span>
              <progress
                [value]="calculateGeneralProgress(goalsData).actual"
                max="100"
              ></progress>
              <span class="progress-goal">
                {{ calculateGeneralProgress(goalsData).goal }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showModal" class="modal-background">
      <div class="modal-content">
        <div class="form1-card">
          <form
            [formGroup]="formGoal"
            (submit)="isEditing ? updateGoal() : createGoal()"
            class="form1"
          >
            <div>
              <h2>Goal</h2>
              <div class="form1-group">
                <h3 for="objectiveIdSelectedForm">Objective</h3>
                <label> {{ currentObjective.title }}</label>
              </div>

              <div class="form1-group">
                <h3 for="description">Description</h3>
                <textarea
                  placeholder="Description"
                  type="text"
                  id="description"
                  formControlName="description"
                ></textarea>
                <div
                  *ngIf="
                    formGoal.get('description')?.invalid &&
                    (formGoal.get('description')?.dirty ||
                      formGoal.get('description')?.touched)
                  "
                  class="error"
                >
                  <p
                    *ngIf="
                      formGoal.get('description')?.errors?.['required']
                    "
                  >
                    Description is required.
                  </p>
                </div>
              </div>       
              <div id="formCheckbox" class="form1-group" *ngIf="isEditing">
                <label for="completed" class="completed-label">Completed</label>
                <input
                  type="checkbox"
                  id="completed"
                  formControlName="completed"
                  class="completed-checkbox"
                />
                
              </div>
              <div class="badInfo" *ngIf="!formGoal.valid">
                <p>Not ready to send</p>
              </div>
              <div>
                <button type="submit" class="buttonCreate m-3">
                  {{ isEditing ? "Update" : "Create" }}
                </button>
                <button
                  type="button"
                  class="btnCancel m-3"
                  (click)="toogleShowModal()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
