:host {
  display: block;
}

.goalsStyle {
  margin-top: 52px;
  padding: 0px 0px 50px 0px; /* top right bottom left */
  color: var(--text_color);
}

.goalsMenu {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Alinear verticalmente */
  padding-bottom: 5px;
  padding-top: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
  background: linear-gradient(
    to bottom right,
    var(--color2_purple) 0%,
    var(--color1_blue) 65%,
    var(--color1_blue) 100%
  );
}
.goalsMenu p {
  margin: 0;
  padding: 0;
  color: var(--text_color);
  flex: 1; /* Esto permite que el título ocupe el espacio disponible */
  text-align: center; /* Asegúrate de que el texto esté centrado */
}

#selectGroup {
  left: 20px;
  margin-right: 0px;
}

.selectGroup label {
  width: 200px; /* Ancho del label */
  margin-left: 28px; /* Margen izquierdo */
}

.bothSelects {
  display: flex;
  align-items: center; /* Alinear verticalmente */
}

.buttonAdd {
  border: 2px solid var(--color2_purple);
}

/* ----------------------------------------------------- */
/* butones  */
/* ----------------------------------------------------- */
.btnCancel {
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  color: white;
  background-color: var(--color2_purple);
}

.btnCancel:hover {
  background-color: var(--color4_red_hover);
  color: white;
}
/* ----------------------------------------------------- */
/* card perzonalizada para objetivos */
/* ----------------------------------------------------- */

/* Contenedor que organiza las tarjetas en fila */
.card-container {
  display: flex; /* Organiza los elementos hijos en una fila */
  flex-wrap: wrap; /* Permite que los elementos salten a la siguiente línea si no caben en una fila */
  gap: 25px; /* Espacio entre las tarjetas */
}

/* Estilo para cada tarjeta */
.card-Objective-container {
  height: 150px;
  background-image: linear-gradient(
    163deg,
    var(--color3_pink) 0%,
    var(--color1_blue) 100%
  );
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribuye espacio entre la tarjeta y .right-section */
  align-items: center; /* Alinea verticalmente los elementos */
  width: 100%; /* Asegura que la tarjeta ocupe todo el espacio disponible */
}

.card-Objective-container:hover {
  transform: scale(1.01);
  transition: transform 0.5s;
  cursor: pointer;
}

.card-container {
  display: flex; /* Organiza los elementos hijos en una fila */
  background-color: var(--gray_middle_dark);
  flex-wrap: wrap; /* Permite que los elementos salten a la siguiente línea si no caben en una fila */
  gap: 25px; /* Espacio entre las tarjetas */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Estilo para el contenido dentro de la tarjeta */
.card-Objective {
  width: 330px;
  height: 100%;
  padding: 2em;
  background-color: var(--gray_middle_dark);
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
}

.card-Objective-container {
  margin: 5px; /* Espacio entre las tarjetas */
  flex-basis: calc(50% - 25px); /* Ajuste para que ocupen la mitad del ancho menos el espacio del gap */
  max-width: calc(48% - 25px); /* Limita el ancho máximo para evitar desbordes */
  height: auto; /* Deja que la altura se ajuste automáticamente */
  background-image: linear-gradient(
    163deg,
    var(--color3_pink) 0%,
    var(--color1_blue) 100%
  );
  border-radius: 20px;
  display: flex;
  
}

.right-section {
  flex: 1; /* Ocupar el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;                 /* Asegura que tome el espacio necesario */
  height: auto;                /* Permite ajustar la altura según las barras */
  padding: 10px;
}

.right-section label {
  font-size: 0.8em;
  color: var(--text_color); /* Ajusta el color según tu preferencia */
  width: 100%;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px; /* Espacio entre los elementos */
  width: 90%;
  font-size: 0.8em;
}

.progress-current, .progress-goal {
  flex-shrink: 0; /* Evita que el texto se encoja */
  width: 30px; /* Asigna un tamaño fijo para el texto */
  text-align: center; /* Centra el texto numérico */
  position: relative;
  top: -5px;
}

.right-section progress {
  flex-grow: 1; /* Asegura que la barra de progreso ocupe el espacio disponible */
  height: 10px; /* Ajusta la altura de la barra de progreso */
  width: auto;
}

/* Color de la barra de progreso general */
.right-section progress[value] {
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: lightgray;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Fondo de la barra */
.right-section progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 10px;
}

/* Rango del color basado en el valor */
.right-section progress[value]::-webkit-progress-value {
  border-radius: 10px;
}

progress[value="100"]::-webkit-progress-value {
  background-color: #0e6410; /* Verde claro para 100 */
}

progress[value][value^="7"]::-webkit-progress-value,
progress[value][value^="8"],
progress[value][value^="9"] {
  background-color: #12b137; /* Verde más claro para 75-99 */
}

progress[value][value^="5"]::-webkit-progress-value,
progress[value][value^="6"] {
  background-color: #c1f561; /* Verde oscuro para 50-74 */
}

progress[value][value^="2"]::-webkit-progress-value,
progress[value][value^="3"]::-webkit-progress-value,
progress[value="4"] {
  background-color: #ff9933; /* Naranja para 25-49 */
}

progress[value^="0"]::-webkit-progress-value,
progress[value^="1"] {
  background-color: #ff3300; /* Rojo para 0-24 */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.value-container {
  flex-grow: 1;
  overflow: visible;
}

.goal-h6 {
  color: white; 
  width: 100%; 
  border-bottom: 1px solid white;
}

.middleMenu {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Alinea el contenido en el centro vertical */
  height: 100%; /* Asegúrate de que middleMenu ocupe toda la altura disponible */
}

.value {
  font-size: 0.95em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: visible;
}

#objectiveTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  flex: 15;
  padding-right: 80px;
  color: white;
}

#progressTitle {
  color: white;
  left: 3px;
  width: 80%;
}

#btn-container {
  width: 95%;
  border-bottom: 1px solid white;
}

#btn-container h6 {
  margin-left: 10px;
}

#generalLabel, #activityTitle {
  font-weight: bold;
  font-size: 0.9em; 
}

#generalLabel {
  margin-top: 8px;
  border-top: 1px solid white;
  padding: 5px;
  width: 95%;
}

#activityTitle {
  margin: 2px 0 2px 0;
  padding-bottom: 0;
  height: auto;
}

#activityTitle:hover {
  cursor: pointer;
  width: auto;
  color: rgb(97, 146, 253);
}

#btn-edit {
  background-color: var(--color3_pink);
}

#btn-edit:hover {
  background-color: var(--color3_pink_hover);
}

#btn-delete {
  width: 30px;
}

#noOPlan {
  display: flex;
  justify-content: center;
  align-items: center;
}

#noOPlan h6 {
  margin-top: 30px;
  margin-right: 20px;
  color: tomato;
}

#formCheckbox {
  display: flex; /* Permite que los elementos se alineen en fila */
  align-items: center; /* Alinea verticalmente en el centro */
  margin-top: 20px; /* Ajusta el margen superior si es necesario */
  margin-bottom: 20px;
}

#selectGroup {
  margin: auto 0;
}

#buttonBack {
  align-self: flex-start;
}

#advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 118px;
  margin-left: 0;
}

#advertisementOp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 118px;
  margin-left: 0;
  color: tomato;
}