<div class="goalsStyle">
  <div class="goalsMenu">
    <div class="bothSelects">
      <div class="selectGroup">
        <label for="strategicPlan">Select a Strategic Plan:</label>
        <select
          id="strategicPlan"
          [(ngModel)]="currentPlanId"
          (change)="onPlanChange()"
        >
          <option *ngFor="let plan of plansData" [value]="plan._id">
            {{ plan.name }}
          </option>
        </select>
      </div>
      <div class="selectGroup" id="selectObjective">
        <label for="objectiveSelect">Select an Objective:</label>
        <select
          [(ngModel)]="objectiveIdSelected"
          id="objectiveSelect"
          (change)="onObjectiveChange()"
        >
          <!-- Agregar esta opción por defecto -->
          <option
            *ngFor="let objective of objectiveData"
            [value]="objective._id"
          >
            {{ objective.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="form1-group" style="margin-right: 260px;">
      <label
        style="margin-right: 80px; color: white; font-size: 1.5em"
        for="objectiveTitle"
        >Goals for Objective:</label
      >
      <p id="objectiveTitle">{{ currentObjective.title }}</p>
    </div>

    <button class="buttonAdd m-3" (click)="onClickAddGoal()">Add a Goal</button>
  </div>
  <button (click)="navigateToSelectedPlan()" class="buttonBack m-3">
    Back to Plan
  </button>
  <div class="my-custom-container">
    <div *ngIf="goalsData.length > 0">
      <div class="card-container">
        <div *ngFor="let item of goalsData" class="card-Objective-container">
          <div class="card-Objective" (click)="onClickGoal(item)">
            <div class="content-wrapper">
              <h6 class="goal-h6">Description:</h6>
              <div class="value-container">
                <span class="value">{{ item.description }}</span>
              </div>
            </div>
          </div>
          <div class="right-section">
            <h6>Progress</h6>

            <!-- Primera barra de progreso con progreso actual y meta -->
            <label for="progress">Activity 1:</label>
            <div class="progress-container">
              <span class="progress-current">1</span>
              <!-- Progreso actual -->
              <progress [value]="25" max="100"></progress>
              <span class="progress-goal">4</span>
              <!-- Progreso meta -->
            </div>

            <!-- Segunda barra de progreso con progreso actual y meta -->
            <label for="progress">Activity 2:</label>
            <div class="progress-container">
              <span class="progress-current">10</span>
              <progress [value]="50" max="100"></progress>
              <span class="progress-goal">20</span>
            </div>

            <!-- Tercera barra de progreso con progreso actual y meta -->
            <label for="progress">Activity 3:</label>
            <div class="progress-container">
              <span class="progress-current">75</span>
              <progress [value]="75" max="100"></progress>
              <span class="progress-goal">100</span>
            </div>

            <!-- Cuarta barra de progreso con progreso actual y meta -->
            <label for="progress">Activity 4:</label>
            <div class="progress-container">
              <span class="progress-current">8</span>
              <progress [value]="100" max="100"></progress>
              <span class="progress-goal">8</span>
            </div>

            <!-- Barra de progreso general -->
            <label for="progress">General Progress:</label>
            <div class="progress-container">
              <span class="progress-current">1</span>
              <progress [value]="62" max="100"></progress>
              <span class="progress-goal">100</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showModal" class="modal-background">
      <div class="modal-content">
        <div class="form1-card">
          <form
            [formGroup]="formGoal"
            (submit)="isEditing ? updateGoal() : createGoal()"
            class="form1"
          >
            <div>
              <h2>Goal</h2>
              <div class="form1-group">
                <label for="objectiveIdSelectedForm">Objective</label>
                <!-- <select
                    formControlName="objectiveIdSelectedForm"
                    id="objectiveIdSelectedForm"
                  >
                    <option
                      *ngFor="let objective of objectiveData"
                      [value]="objective._id"
                    >
                      {{ objective.title }}
                    </option>
                  </select> -->
                <label style="margin: 5px"> {{ currentObjective.title }}</label>
              </div>

              <div class="form1-group">
                <label for="description">Description</label>
                <textarea
                  placeholder="Description"
                  type="text"
                  id="description"
                  formControlName="description"
                ></textarea>
                <div
                  *ngIf="
                    formGoal.get('description')?.invalid &&
                    (formGoal.get('description')?.dirty ||
                      formGoal.get('description')?.touched)
                  "
                  class="error"
                >
                  <p
                    *ngIf="
                      formGoal.get('description')?.errors?.['required']
                    "
                  >
                    Description is required.
                  </p>
                </div>
              </div>
              <div class="badInfo" *ngIf="!formGoal.valid">
                <p>Not ready to send</p>
              </div>
              <div>
                <button type="submit" class="buttonCreate m-3">
                  {{ isEditing ? "Update" : "Create" }}
                </button>
                <button
                  type="button"
                  class="btnCancel m-3"
                  (click)="toogleShowModal()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
