<div class="goalsStyle">
  <div class="goalsMenu">
    <button class="buttonAdd m-3" (click)="onClickAddGoal()">Add</button>
    <p>Plan: {{ planData?.name }}</p>
  </div>
  <div class="container">
    <div *ngIf="goalsData.length > 0">
      <div class="card-container">
        <div *ngFor="let item of goalsData" class="card-Objective-container">
          <div class="card-Objective" (click)="onClickGoal(item)">
            <div class="content-wrapper">
              <span class="title">Description:</span>
              <div class="value-container">
                <span class="value">{{ item.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showModal" class="modal-background">
      <div class="modal-content">
        <div class="form1-card">
          <form
            [formGroup]="formGoal"
            (submit)="isEditing ? updateGoal() : createGoal()"
            class="form1"
          >
            <div>
              <h2>Goal</h2>
              <div class="form1-group">
                <label for="objectiveIdSelectedForm">Objective</label>
                <select formControlName="objectiveIdSelectedForm" id="objectiveIdSelectedForm">
                  <option
                    *ngFor="let objective of objectiveData"
                    [value]="objective._id"
                  >
                    {{ objective.description }}
                  </option>
                </select>
              </div>

              <div class="form1-group">
                <label for="description">Description</label>
                <textarea
                  placeholder="description"
                  type="text"
                  id="description"
                  formControlName="description"
                ></textarea>
                <div
                  *ngIf="
                    formGoal.get('description')?.invalid &&
                    (formGoal.get('description')?.dirty ||
                      formGoal.get('description')?.touched)
                  "
                  class="error"
                >
                  <p
                    *ngIf="
                      formGoal.get('description')?.errors?.['required']
                    "
                  >
                    Description is required.
                  </p>
                </div>
              </div>
              <div class="badInfo" *ngIf="!formGoal.valid">
                <p>Not ready to send</p>
              </div>
              <div>
                <button type="submit" class="buttonCreate m-3">
                  {{ isEditing ? "Update" : "Create" }}
                </button>
                <button
                  type="button"
                  class="btnCancel m-3"
                  (click)="toogleShowModal()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
